.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons-container button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.last-row {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.last-row td {
  border-bottom: 1px solid #000;
}
